<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>


        <form action="../Controller/loginCheck.php" method="post">
            <center>
            <fieldset style="width: 350px">
            <h2 align="center">LogIn</h2>
            <table align="center">
              <tr>
                <td><label for="UserName">User Name</label></td>
                <td><input type="text" name="username" style="width: 96%;" required/></td>
              </tr>
              <tr>
                <td><label for="password">Password</label></td>
                <td><input  type="password" name="password"style="width: 96%;" required/></td>      
              </tr>
              <tr>
                <td colspan="2"><center><input type="submit" name="submit" value="Login"></center></td>
              </tr>
            </table>
                    <p align="center">Create new acccount?<a href="registration.html">Signup</a></p>
            </fieldset>
          </center>
          </form>
    
</body>
</html>
