<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <script src="../JS/script.js"></script>
</head>
<body>
      
              <form action="../controller/RegCheck.php" method="post" enctype="multipart/form-data" onsubmit="return validationform()">
                <center>
                <fieldset style="width: 350px">
                <h2 align="center">Sign Up</h2>
                <table align="center">

                  <tr>
                    <td><label for="empName">Employee Name:</label></td>
                    <td><input type="text" name="Empname" id="Empname" style="width: 96%;"/></td>
                  </tr>
                  <td><label for="number">Phone Number:</label></td>
                  <td><input type="text"   name="phone" id="phone" style="width: 96%;"/></td>
                  </tr>
                  <tr>
                    <td><label for="UserName">User Name:</label></td>
                    <td><input type="text" name="username" id="username" style="width: 96%;"/></td>
                  </tr>
                  <tr>
                  <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" name="password" id="password" style="width: 96%;"/></td>
                  </tr>
                  <tr>
                    <td colspan="2"><center><input type="submit" name="submit" id="submit" value="Sign Up" style="margin:1%;"><input type="reset" name="reset" value="Reset" /></center></td>
                    <h2 id="print" style="color: red;"></h2>
                  </tr>
                </table>
				        <p align="center">Already have an acccount?<a href="login.html">Log In</a></p>
                </fieldset>
              </center>
              </form>
</body>
</html>
